:root {
    --green-color: #2ddf5c;
    --red-color: #ff0b02;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1,h2,h3 {
    margin: 1.3rem;
}
body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    margin: 0;
}
.header {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--green-color);
    padding: .5rem 1rem;
    z-index: 50;
}
/** toggle button **/

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: .5rem;
    vertical-align: middle;
}
.toggle-button:focus {
    outline: none;
}
.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: #000;
    display: block;
    margin: 0.6rem 0;
}
.logo {
    margin-right: auto;
}
.logo__brand img {
    width: 2.5rem;
    vertical-align: middle;
}
.header-logo__title {
    margin: 0;
    text-align: center;
}
.header-logo {
    background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent), 
    url("freedom.jpeg") no-repeat;
    background-size: cover;
    width: 100vw;
    height: 55vh;
}
.nav {
    display: none;
}
.nav__list {
    list-style: none;
    display: inline-block;
}
.nav__items {
    display: inline-block;
    margin-left: 1.6rem;
    padding: 0;
}
.nav__links,
.mobile-nav__item a {
    text-decoration: none;
    color: rgb(112, 106, 108);
    font-weight: bold;
}
.nav__links:hover,
.nav__links:active {
    color: white;
    border-bottom: 1px solid rgb(212, 220, 221);
}
.nav__items--cta a {
    color: white;
    background: var(--red-color);
    padding: .5rem 1rem;
    border-radius: 8px;
    transition: 0.3s;
}
.nav__items--cta a:hover,
.mobile-nav__item a:hover {
    color: var(--red-color);
    background: white;
    border: none;
}

/** mobile nav **/

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 40vw;
    height: 100vh;
  }
  
  .mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
  }
  
  .mobile-nav__item {
    margin: 1rem 0;
  }
  
  /* .mobile-nav__item a {
    font-size: 1.5rem;
  } */
/** backdrop styles **/
.backdrop {
    z-index: 100;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0, 0.5);
}
/** Modal styles **/

.modal {
    width: 25%;
    position: fixed;
    top: 20%;
    display: none;
    left: 35%;
    background: #fff;
    padding: 1rem;
    z-index: 200;
    border: 1px solid rgba(0,0,0, 0.5);
}
.modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
}
.modal__actions {
    text-align: center;
}
.modal__action {
    text-decoration: none;
    font-size: 1.2rem;
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    font: inherit;
    padding: .5rem 1rem;
    margin: 0 0 1.5rem 1.5rem;
    cursor: poiner;
    color: white;
}
.modal__action:hover,
.modal__action:action {
    background: var(--green-color);
}
.modal__action--negative {
    background: var(--red-color);
    border-color: var(--red-color);
}
.modal__action--negative:hover,
.modal__action--negative:active {
    background: var(--red-color);
    border-color: var(--red-color);
}

/** footer section **/
.footer__nav {
    width: 100%;
}
.footer {
    padding: 2.5rem;
    background: #000;
}
.footer__list {
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.footer__link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 1s;
}
.footer__link:hover,
.footer__link:active {
    color: #ccc;
}
