* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    margin: 0;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.header {
    width: 100%;
    background-color: #2ddf5c;
    position: fixed;
    z-index: 1;
    padding: 8px 16px;
}
.logo__brand {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    font-size: 18px;
}
.logo {
    display: inline-block;
    vertical-align: middle;
}
.header-logo__title {
    margin: 0;
    text-align: center;
}
.header-logo {
    background: url("freedom.jpeg") no-repeat;
    background-size: cover;
    height: 817px;
}
.nav {
    display: inline-block;
    width: calc(100% - 70px);
    text-align: right;
    vertical-align: middle;
}
.nav__list {
    list-style: none;
    display: inline-block;
}
.nav__items {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.nav__links {
    text-decoration: none;
    padding: 10px 0;
    margin: 0 10px;
    color: rgb(112, 106, 108);
    font-weight: bold;
}
.nav__links:hover,
.nav__links:active {
    color: white;
    border-bottom: 1px solid rgb(212, 220, 221);
}
.nav__items--cta a {
    color: white;
    background: red;
    padding: 8px 16px;
    border-radius: 8px;
    transition: 0.3s;
}
.nav__items--cta a:hover {
    color: red;
    background: white;
    border: none;
}

/** main styles **/


/** footer section **/
.footer__nav {
    width: 100%;
}
.footer {
    padding: 40px;
    background: #000;
}
.footer__list {
    text-align: center;
}
.footer__item {
    width: 30%;
    display: inline-block;
}
.footer__link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 1s;
}
.footer__link:hover,
.footer__link:active {
    color: #ccc;
}
.main {
    padding: 32px 0;
    background: url(../../img/bgImg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*position: fixed;*/
    height: 100%;
    width: 100%;
}
/*** Plans section ***/
.plans {
    width: 80%;
    display: inline-block;
    text-align: left;
    border: 2px solid #3b6c21;
    padding: 50px;
    margin: 15px 0;
    position: relative;
}
.plans a {
    color: #000;
    text-decoration: none;
}
.plans__badge {
    padding: 5px 30px;
    background: #239d63;
    color: white;
    position: absolute;
    box-shadow: #3b6c21 1px 1px 6px 3px;
    right: -40px;
    top: 20px;
}
.plans__titles {
    padding: 15px 0;
    font-size: 32px;
    font-weight: bold;
}
.plans__subtitle {
    color: #265e2b;
    padding: 0 0 15px 0;
}
.plans__txt {
    padding: 15px;
    border: 1px solid #2f8845;
    background: #fff;
    font-weight: bold;
}
.plans--plus {
    background: #93e09b;
    border-left: none;
}
.plans--free {
    background: #94c998;
    float: right;
    border-right: none;
}
.plans--premium {
    background: #117040;
    border-left: none;
}
.plans--plus .plans__subtitle {
    color: #888;
}
.plans--free .plans__subtitle {
    color: #9a9a9a;
}
.plans--premium .plans__subtitle {
    color: #c7c7c7;
}