
/** footer section **/
.footer__nav {
    width: 100%;
}
.footer {
    padding: 2.5rem;
    background: #000;
}
.footer__list {
    text-align: center;
}
.footer__item {
    width: 30%;
    display: inline-block;
}
.footer__link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 1s;
}
.footer__link:hover,
.footer__link:active {
    color: #ccc;
}
.background {
    padding: 2rem 0;
    filter: grayscale(40%);
    background: url(../../img/bgImg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 99vw;
    z-index: -10;
}

/*** Plans section ***/
.plans {
    width: 80%;
    display: inline-block;
    text-align: left;
    border: 2px solid #3b6c21;
    padding: 3.1rem;
    margin: 0.9rem 0;
    position: relative;
}
.plans a {
    color: #000;
    text-decoration: none;
}
.plans__badge {
    padding: 0.3rem 1.8rem;
    background: #239d63;
    color: white;
    position: absolute;
    box-shadow: #3b6c21 1px 1px 6px 3px;
    right: -40px;
    top: 20px;
}
.plans__titles {
    padding: .9rem 0;
    font-size: 2rem;
    font-weight: bold;
}
.plans__subtitle {
    color: #265e2b;
    padding: 0 0 15px 0;
}
.plans__txt {
    padding: .9rem;
    border: 1px solid #2f8845;
    background: #fff;
    font-weight: bold;
}
.plans--plus {
    background: #93e09b;
}
.plans--free {
    background: #94c998;
    float: right;
}
.plans--premium {
    background: #117040;
}
.plans--plus .plans__subtitle {
    color: #888;
}
.plans--free .plans__subtitle {
    color: #9a9a9a;
}
.plans--premium .plans__subtitle {
    color: #c7c7c7;
}